<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="IMConn"
         connectionString="data source=127.0.0.1;initial catalog=IM;persist security info=True;user id=sa;password=hong880926"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
